################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EjercicioBase/EnviarCorreo.Forms/EnviarCorreo.Forms/bin/Debug
